// Place all the styles related to the character controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.handle {
    font-family: 'Josefin Sans';
    color: #FFF;

    a {
        text-decoration-line: none;

        &:visited {
            color: #FFF;
        }

        &:hover {
            text-decoration-line: underline;
        }
    }
}