// Place all the styles related to the pix controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pix {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);

  p {
    padding: 10px;
    font-size: 16px;
  }
}

body.show {
  background-image: url("https://images-assets.nasa.gov/image/PIA13005/PIA13005~orig.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}