// Place all the styles related to the pix controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pix {
    margin: 10px;
    border: 1px solid black;

    p {
        padding: 10px;
        font-size: 16px;
    }
}