<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <%= link_to 'Pixie', root_path, class: 'navbar-brand' %>
    <%= link_to 'Characters', characters_path, class: 'nav-link' %>
    <%= link_to 'Scenarios', scenarios_path, class: 'nav-link' %>  
  </a>
</nav>